#test {
background-color: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Marcellus', serif;
    font-family: 'Playfair Display', serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Oswald", sans-serif;
    background-color: black;
    color: white;
    font-size: 1rem;
    max-height: 100vh;
    max-width: 100vw;
    border-radius: 5px;
}

#navbar {
    display: flex;
    height: 9vh;
    /* background-color: grey; */
}

#midsection {
    display: flex;
    height: 81vh;
    width: 100vw;
    /* background-color: rgb(7, 108, 21); */
}

#footer {
    display: flex;
    height: 10vh;
    /* background-color: rgb(74, 74, 74); */
}

.leftSection{
    width: 16%;
    height: 100%;
    /* background-color: aqua; */
    padding: 20px;/
    /* background-color: red; */
}

.rightSection{
    width: 84%;
    height: 100%;
    /* background-color: bisque; */
    padding: 5px;
}

