* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    font-size: 1rem;
    max-height: 100vh;
    max-width: 100vw;
    border-radius: 5px;
}

#navbar {
    display: flex;
    height: 9vh;
}

#midsection {
    display: flex;
    height: 81vh;
    width: 100vw;
}

#footer {
    display: flex;
    height: 10vh;
}

.leftSection{
    width: 16%;
    height: 100%;
    padding: 20px;/
}

.rightSection{
    width: 84%;
    height: 100%;
    padding: 5px;
    background: linear-gradient(
    to bottom,
    #0a1117,
    rgba(0, 0, 0, 0)
    )
}




/************ VOLUME BAR CSS *****************/
input[type="range"] {
  -webkit-appearance: none;
  width: 60px;
  height: 6px;
  background: linear-gradient(
    to right,
    #b31b1b 50%,
    #ccc 50%
  );
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #b31b1b;
  border-radius: 50%;
  cursor: pointer;
}




