#test {
background-color: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Marcellus', serif;
    font-family: 'Playfair Display', serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Oswald", sans-serif;
    background-color: black;
    color: white;
    font-size: 1rem;
    max-height: 100vh;
    max-width: 100vw;
    border-radius: 5px;
}

#navbar {
    display: flex;
    height: 9vh;
    /* background-color: grey; */
}

#midsection {
    display: flex;
    height: 81vh;
    width: 100vw;
    /* background-color: rgb(7, 108, 21); */
}

#footer {
    display: flex;
    height: 10vh;
    /* background-color: rgb(74, 74, 74); */
}

.leftSection{
    width: 16%;
    height: 100%;
    /* background-color: aqua; */
    padding: 20px;/
    /* background-color: red; */
}

.rightSection{
    width: 84%;
    height: 100%;
    /* background-color: bisque; */
    padding: 5px;
    background: linear-gradient(
    to bottom,
    #0a1117,
    rgba(0, 0, 0, 0)
    )
}




/* VOLUME BAR CSS */
input[type="range"] {
  -webkit-appearance: none;
  width: 60px;
  height: 6px;
  background: linear-gradient(
    to right,
    #b31b1b 50%,
    #ccc 50%
  );
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #b31b1b;
  border-radius: 50%;
  cursor: pointer;
}


