/******************************** LEFT SECTION **************************************/
.controlSection{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #212121;
    border-right: 1px solid black;

}

.controlButtons {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.controlButtons i{
    background-color: #212121;
    
    margin: 17px;
    cursor: pointer;
    font-size: 22px;
}

i.controlPlayButton {
    font-size: 35px;
}



.songTimer{
    font-size: 12px;
    background-color: #212121;
    margin-right: 5px;
}


/* RIGHT SECTION */
.songInfo{
    display: flex;
    align-items: center;
    background-color: #212121;
    font-size: 10px;
}

.footerRightSection{
    width: 85%;
    height: 100%;
    margin: auto;
    background-color: transparent;  
    display: flex; 
    padding: 0 10%;
}

.songDetails{
    margin: auto;
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.songImage{
    margin-right: 10px;
    background-color: transparent;
}

.songImage img{
    height: 100%;
    aspect-ratio: 1/1;
}

.songName{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

.songTitle{
    background-color: transparent;
    font-size: 1.1rem;
}

.songDescription{
    font-size: 0.7rem;
    background-color: transparent;
}

.volumeSection{
    background-color: transparent;
    margin: auto 0 auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volumeSection i{
    margin: 0 7px;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
}

#myVolumeBar{
    height: 1px;
    margin-right: 10px;
    cursor: pointer;
    color: #212121;
}