/* LEFT SECTION */
.controlSection{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #212121;
    /* font-size: 10px; */
    border-right: 1px solid black;
}

.controlButtons {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlButtons i{
    /* font-size: 30; */
    background-color: #212121;
    /* color: black; */
    margin: 17px;
    cursor: pointer;
    font-size: 22px;
}

i.controlPlayButton {
    font-size: 35px;
}



.songTimer{
    font-size: 12px;
    background-color: #212121;
    margin-right: 5px;
}


/* RIGHT SECTION */
.songInfo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #212121;
    font-size: 10px;
}

.footerRightSection{
    width: 85%;
    /* background-color: grey; */
    height: 100%;
    /* display: flex;
    justify-content: center; */
    margin: auto;
    /* background-color: rgb(16, 16, 26) */
    /* background-color: #0a1117; */
    /* background-color: #212121; */
    background-color: transparent;
    
    display: flex;
    /* align-items: center; */
    /* padding: 10px; */
    /* justify-content: space-between; */
    
    
}

.songDetails{
    margin: auto;
    background-color: transparent;
    display: flex;
}
.songImage{
    margin-right: 8px;
    /* height: 60%; */
    /* width: 60%; */
    /* height: 90%; */
    /* height: 100%; */
    /* width: 80px; */
    /* background-color: red; */
}
.songName{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: transparent;
}

.songTitle{
    font-size: 17px;
    background-color: transparent;
}

.songDescription{
    font-size: 12px;
    background-color: transparent;
}

.volumeSection{
    background-color: transparent;
    margin: auto 0 auto auto;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volumeSection i{
    margin: 0 7px;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
}

#myVolumeBar{
    height: 1px;
    margin-right: 10px;
    cursor: pointer;
    color: #212121;
}