/* LEFT SECTION */
.controlSection{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #212121;
    /* font-size: 10px; */
    border-right: 1px solid black;
}

.controlButtons {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlButtons i{
    /* font-size: 30; */
    background-color: #212121;
    /* color: black; */
    margin: 17px;
    cursor: pointer;
    font-size: 22px;
}

i.controlPlayButton {
    font-size: 35px;
}



.songTimer{
    font-size: 12px;
    background-color: #212121;
    margin-right: 5px;
}


/* RIGHT SECTION */
.songInfo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #212121;
    font-size: 10px;
}