/* LEFT SECTION */
#libraries {
    background-color: black;
    border-right: 1px solid rgb(52, 51, 51);
}


.tile {
    cursor: pointer;
    height: 30%;
    margin-bottom: 5px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}

.tileSection {
    height: 30%;
   cursor: pointer;
   /* background-color: red; */
}

.tile i {
    /* padding: 5px 20px; */
    margin-left: 8px;
    margin-right: 15px;
    font-size: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}


.dynamicSection {
    height: 70%;
    /* background-color: antiquewhite; */
}


/* RIGHT SECTION */
#songs {
    background-color: rgb(7, 5, 3);
}