/*********************************** LEFT SECTION *****************************************/
#libraries {
    background-color: black;
    border-right: 1px solid rgb(52, 51, 51);
}


.tileSection {
    height: 30%;
   cursor: pointer;
   border-bottom: 1px solid rgb(52, 51, 51);
}


.tile {
    cursor: pointer;
    height: 28%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.tile:hover{
    background-color: rgb(52, 51, 51);
}
.tile:hover i{
    background-color: rgb(52, 51, 51);
}

.tile i {
    margin-left: 8px;
    margin-right: 15px;
    font-size: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
}


.dynamicSection {
    height: 70%;
}

#createPlaylist {
    height: 10%;
    margin: 20px 0;
    background-color: rgb(52, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
}

#dynamicPlaylist{
    height: 80%;
    overflow-y: auto;
}

.dynamicTile{
    height: 15%;
    background-color: rgb(52, 51, 51);
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
}



.dynamicPlaylistName{
    font-size: 14px;
    background-color: rgb(52, 51, 51);
}

.dynamicPlaylistCategory{
    font-size: 9px;
    background-color: rgb(52, 51, 51);
}

/***************************************** RIGHT SECTION *******************************************/

.songsRightSection{
  background-color: transparent;
    height: 100%;
    padding: 0 5%;
    margin: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #555 #1a1a1a;
}

.container-fluid{
    background-color: transparent;
}

#songGrid{
    background-color: transparent;
}


.songGridCol{
    background-color: transparent;
    margin-bottom: 35px;
}



.song-card {
  background: transparent;
  cursor: pointer;
  background-color: transparent;
}

.song-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}

.song-title {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
}

.song-sub {
  font-size: 12px;
  color: #aaa;
  background-color: transparent;
}

.song-card:hover img {
  filter: brightness(0.85);
}

.song-card.active img {
  outline: 2px solid #1db954;
}
