/* LEFT SECTION */
#libraries {
    background-color: black;
    border-right: 1px solid rgb(52, 51, 51);
}


.tileSection {
    height: 30%;
   cursor: pointer;
   /* background-color: red; */
   border-bottom: 1px solid rgb(52, 51, 51);
}


.tile {
    cursor: pointer;
    height: 28%;
    margin-bottom: 5px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}

.tile:hover{
    background-color: rgb(52, 51, 51);
}
.tile:hover i{
    background-color: rgb(52, 51, 51);
}

.tile i {
    /* padding: 5px 20px; */
    margin-left: 8px;
    margin-right: 15px;
    font-size: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}


.dynamicSection {
    height: 70%;
    /* background-color: antiquewhite; */
}

#createPlaylist {
    height: 10%;
    margin: 20px 0;
    background-color: rgb(52, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
}

#dynamicPlaylist{
    /* background-color: aliceblue; */
    height: 80%;
    overflow-y: auto;
}

.dynamicTile{
    height: 15%;
    background-color: rgb(52, 51, 51);
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
}



.dynamicPlaylistName{
    font-size: 14px;
    background-color: rgb(52, 51, 51);
}

.dynamicPlaylistCategory{
    font-size: 9px;
    background-color: rgb(52, 51, 51);
}

/* RIGHT SECTION */
#songs {
    /* background-color: rgb(7, 5, 3); */
}

.songsRightSection{
    /* width: 85%; */
    /* background: linear-gradient(
    to bottom,
    #0a1117,
    rgba(0, 0, 0, 0)
  ); */
  background-color: transparent;
    height: 100%;
    /* display: flex;
    justify-content: center; */
    margin: auto;
    /* background-color: rgb(16, 16, 26) */
    /* background-color: #0a1117; */
    overflow-y: auto;
    scrollbar-width: thin;

    scrollbar-color: #555 #1a1a1a;
}

.container-fluid{
    background-color: transparent;
    /* background-color: red; */
}

#songGrid{
    background-color: transparent;
    /* margin-bottom: 50px; */
}


.songGridCol{
    background-color: transparent;
    /* background-color: red; */
    margin-bottom: 35px;
}



.song-card {
  background: transparent;
  cursor: pointer;
  background-color: transparent;
}

.song-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  /* background-color: transparent; */
}

.song-title {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* background-color: #1db954; */
  background-color: transparent;
}

.song-sub {
  font-size: 12px;
  color: #aaa;
  /* background-color: blue; */
  background-color: transparent;
}

.song-card:hover img {
  filter: brightness(0.85);
}

.song-card.active img {
  outline: 2px solid #1db954; /* playing indicator */
}
