.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.hidden {
    display: none;
}

.modal-content {
    background-color: black;
    width: 320px;
    border-radius: 8px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.modal-container{
    width: 320px;
    border: 0;
}

.modal-body{
    border-bottom: 1px solid #1e1e1e;
}
#modalList{
    height: 160px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #555 #1a1a1a;
    background-color: transparent;
}
.modalItem{
    cursor: pointer;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
}

.modalItem:hover{
    background-color: #1e1e1e ;
}

#modalCreate{
    cursor: pointer;
    background-color: rgb(34, 247, 34);
}

.modal-header {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
    padding: 10px;
    border: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #1e1e1e;
}

.modal-body input {
    width: 100%;
    padding: 8px 10px;
    background: #1e1e1e;
    border: none;
    color: #fff;
    border-radius: 4px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    border: 0;
    padding-bottom: 18px;
}

.modal-footer button {
    padding: 6px 10px;
    background: #e64545;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.modal-footer button#savePlaylist {
    background: #52b757;
}
