/* LEFT SECTION */

/* .logoSection {
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 17px;
    font-weight: bold;
    border-right: 1px solid rgb(52, 51, 51);
} */

.logoSection {
    /* padding: 5px 15px; */
   cursor: pointer;
   margin: 2px auto;
   /* background-color: red; */
   display: flex;
   align-items: center;
   
}



.logoSection div i {
    width: 20px;
    margin-right: 15px;
    /* background-color: green; */
    /* font-size: 15px; */
    
}




/* RIGHT SECTION */

.searchSection{
    display: flex;
    align-items: center;
    background-color: #0a1117;
}