/* LEFT SECTION */

.logoSection {
   cursor: pointer;
   margin: 2px auto;
   display: flex;
   align-items: center;  
   /* background-color: red; */
}

.navTile{
    cursor: pointer;
    margin-bottom: 5px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}

.navTile i {
    margin-left: 8px;
    margin-right: 15px;
    font-size: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}






/* RIGHT SECTION */
.searchSection{
    display: flex;
    align-items: center;
    background-color: #0a1117;
}