/************************** LEFT SECTION ***************************/

.logoSection {
   cursor: pointer;
   margin: 2px auto;
   display: flex;
   align-items: center;  
}

.navTile{
    cursor: pointer;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.navTile i {
    margin-left: 8px;
    margin-right: 15px;
    font-size: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
}





/************************** RIGHT SECTION ********************************/
.searchSection{
    display: flex;
    align-items: center;
    background-color: #0a1117;
}

.searchRightSection{
    width: 85%;
    height: 100%;
    margin: auto;
    background-color: #0a1117;
    display: flex;
    align-items: center;    
}

.searchBar{
    height: 80%;
    width: 50%;
    background-color: #2d373a;
    padding: 10px;
    border-radius:5px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}